{% extends "base.html" %}

{% block content %}
	<h3>Situazione Casa</h3>

	<table class="table">
            	{% for row in values %}
                <tr>
                {% with firstrow = loop.index0 == 0 %}
                {% for value in row %}
                {% if firstrow %}
                <th>{{ value }}</th>
                {% else %}
                <td>{{ value }}</td>
                {% endif %}
                {% endfor %}
                {% endwith %}
                </tr>
		{% endfor %}
	</table>
{% endblock %}
