<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Situazione Conti</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	</head>
	<body>
		<div class="container">
			<h1>Situazione Casa</h1>

            <table class="table">
            {% for row in values %}
                <tr>
                {% with firstrow = loop.index0 == 0 %}
                {% for value in row %}
                    {% if firstrow %}
                        <th>{{ value }}</th>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
                {% endwith %}
                </tr>
            {% endfor %}
            </table>

            </div>
<div class="menu">
<ul class="ul">
<li><a href="#home">Home</a></li>
<li><a href="#news">News</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#about">About</a></li>
</ul>
</div>
        <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
© 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
